/* Owner Dashboard CSS  */
    body {
        background-color: #f8f9fa; /* Light gray background */
    }

    .navbar {
        background-color: #111B27; /* Dark Blue */
        padding-top: 1px; /* Reduce space above navbar */
        padding-bottom: 1px; /* Reduce space below navbar */
    }

    .navbar-brand {
        color: #fff; /* White text */
    }

    .navbar-brand:hover {
        color: #fff; /* White text on hover */
    }

    .container {
        margin-top: 50px; /* Add some top margin */
    }

    .topping-card {
        background-color: #ffffff; /* White background */
        border: 1px solid #dee2e6; /* Light gray border */
        border-radius: 10px; /* Rounded corners */
        margin-bottom: 20px; /* Bottom margin */
    }

    .topping-card-body {
        padding: 20px; /* Padding inside the card */
    }

    .update-form {
        margin-top: 10px; /* Top margin for update form */
    }

    .update-btn,
    .submit-update,
    .cancel-btn {
        font-size: 14px; /* Smaller font size */
        padding: 5px 10px; /* Padding */
        margin-right: 5px; /* Right margin */
        border-radius: 5px; /* Rounded corners */
    }

    .cancel-btn {
        background-color: #f8d7da; /* Light pastel red */
        border-color: #e06666; /* Darker red border */
        color: #212529; /* Dark gray */
    }

    .cancel-btn:hover {
        background-color: #ff1a1a; /* Red color on hover */
        border-color: #ff1a1a; /* Red border on hover */
    }

    .update-btn {
        background-color: #cfe7cf; /* Light pastel green */
        border-color: #66cc99; /* Darker green border */
        color: #212529; /* Dark gray */
    }

    .update-btn:hover {
        background-color: #00b33c; /* Darker green on hover */
        border-color: #00b33c; /* Darker green border on hover */
    }

    .delete-btn {
        background-color: #f8d7da; /* Light pastel red */
        border-color: #e06666; /* Darker red border */
        color: #212529; /* Dark gray */
    }

    .delete-btn:hover {
        background-color: #ff1a1a; /* Red color on hover */
        border-color: #ff1a1a; /* Red border on hover */
    }

    .button-container {
        display: flex;
        justify-content: center; /* Center the buttons horizontally */
        gap: 10px; /* Add space between buttons */
    }

    .add-topping-form-container {
        width: 50%; /* Set width */
        margin: 0 auto; /* Center horizontally */
        border: 1px solid #ced4da; /* Light gray border */
        border-radius: 10px; /* Rounded corners */
        padding: 20px; /* Padding */
        margin-top: 50px; /* Top margin */
        margin-bottom: 50px; /* Bottom margin */
    }